body {
  padding: 10px;
  font-family: sans-serif;
}
.login-container {
  width: 300px; /* adjust as needed */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 5px; 
  display: flex;
  flex-direction: column;
  gap: 10px; 
  align-items: center; 
}

.login-container input {
  width: 100%;
  padding: 10px;
  border-radius: 5px; 
  border: 1px solid #ccc;
}
.centering {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; 
  margin: 0;
  padding: 10px;
  font-family: sans-serif;
}

.login-container button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px; 
  cursor: pointer;
  background-color: #007BFF; 
  color: white;
  transition: background-color 0.3s ease; 
}
.login-container select {
  width: 100%;
  padding: 10px;
  border-radius: 5px; 
  border: 1px solid #ccc;
  background-color: #fff; 
  font-family: sans-serif; 
  margin: 10px 0; 
 
}
.borrower-dashboard {
  padding: 20px;
  font-family: 'Arial', sans-serif;
  max-width: 800px;
  margin: 0 auto;
  border: 1px solid #e4e4e4;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 8px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.borrower-dashboard h2,
.borrower-dashboard h3 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.borrower-dashboard table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1em;
}

.borrower-dashboard th, .borrower-dashboard td {
  padding: 8px 12px;
  border-bottom: 1px solid #e0e0e0;
  text-align: left;
}

.borrower-dashboard th {
  background-color: #f5f5f5;
  color: #333;
}



.borrower-dashboard input[type="number"],
.borrower-dashboard select,
.borrower-dashboard button {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.borrower-dashboard button {
  cursor: pointer;
  background-color: #4CAF50;
  color: #fff;
  border: none;
}

.borrower-dashboard button:hover {
  background-color: #45a049;
}
.lender-dashboard {
  padding: 20px;
  font-family: 'Arial', sans-serif;
  max-width: 800px;
  margin: 0 auto;
  border: 1px solid #e4e4e4;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 8px;
  background-color: #f9f9f9;
}

.lender-dashboard h2 {
  font-size: 24px;
  margin-bottom: 1em;
  color: #333333;
}

.lender-dashboard table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1em;
}

.lender-dashboard th, .lender-dashboard td {
  padding: 8px 12px;
  border-bottom: 1px solid #e0e0e0;
  text-align: left;
}

.lender-dashboard th {
  background-color: #f5f5f5;
  color: #333;
}

.lender-dashboard .approve-button {
  padding: 0.5em 1em;
  background-color: #4CAF50;
  border: none;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  
}

.lender-dashboard .approve-button:hover {
  background-color: #45a049;
}
  
.deny-button {
  background-color: red;
  color: white;
  margin-left: 10px; 
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
